<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Shopper</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/util.css" media="screen" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div class="welcome-content">
    <div class="wrap-welcome-content">
        <span class="fs-36 m-t-50 m-b-120" th:text="'Добро пожаловать, ' + ${currentUser.firstname} + '!'"></span>
        <div class="p-l-100 p-r-100">
            <a th:href="'/' + ${currentUser.position}"><label class="button-yellow fs-18">Начать работу</label></a>
        </div>
    </div>
</div>


<script src="/js/main.js"></script>
</body>
</html>