<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Shopper</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<header>
    <div class="header">
        <a href="#"><img src="/images/logo.png"></a>
    </div>
    <div class="nav-menu">
        <nav class="nav-menu">
            <ul id="nav-list">
                <li v-for="menu in adminMenu">
                    <a v-bind:href="menu.url">{{menu.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="menu">
        <nav class="menu">
            <ul>
                <li><a href="#">Иван Иванов</a></li>
                <li><a href="#">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>

<script src="/js/app.js"></script>
</body>
</html>