<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Shopper</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
    <link rel="stylesheet" href="/css/util.css" media="screen" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<script th:inline="javascript">
    var firstLogin = /*[[${user.firstLogin}]]*/ null;
    if (firstLogin) {
        window.location.href = 'http://' + window.location.host
    }
</script>
<body>
<div id="header"></div>
<header>
    <div class="logo">
        <a th:href="'/' + ${user.position.name}" href="/"><img src="/img/logo.png"></a>
    </div>
    <div class="nav-menu">
        <nav class="nav-menu">
            <ul id="nav-list">
                <li v-for="menu in menus">
                    <a v-bind:href="menu.url">{{menu.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-menu">
        <nav>
            <ul>
                <div class="user-avatar-header" th:switch="${user.imagePath}">
                    <img th:case="null" th:src="'/data/upload/img/user/user-not-found.png'">
                    <img th:case="*" th:src="${user.imagePath}" onchange="location.reload()">
                </div>
                <li><a href="/settings" th:text="${user.firstname} + ' ' + ${user.lastname}"></a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>
<input type="checkbox" id="warning-popup">
<label for="warning-popup" class="warning-popup-bg"></label>
<div class="user-setting-content">
    <div class="wrap-user-setting-content">
        <div class="user-setting-body">
            <div class="photo">
                <div th:switch="${user.imagePath}">
                    <img th:case="null" th:src="'/data/upload/img/user/user-not-found.png'" class="photo">
                    <img th:case="*" th:src="${user.imagePath}" class="photo" onchange="window.location.reload()">
                </div>
            </div>
            <div class="info">
                <div>
                    <h1>Фамилия: </h1>
                    <h1>Имя: </h1>
                    <h1>Дата рождения: </h1>
                    <h1>Новый пароль: </h1>
                    <h1>Повторите пароль: </h1>
                </div>
                <div>
                    <form id="save" method="post" action="/settings" onsubmit="location.reload()">
                        <input type="text" name="firstname" placeholder="Фамилия" th:value="${user.firstname}">
                        <input type="text" name="lastname" placeholder="Имя" th:value="${user.lastname}">
                        <input type="date" name="birthdate" placeholder="Дата рождения" th:value="*{user.birthdate}">
                        <input type="password" id="new-pass" name="password" placeholder="Новый пароль">
                        <input type="password" id="new-pass-checked" placeholder="Повторите пароль">
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <form id="upload" th:method="post" enctype="multipart/form-data" th:action="'/settings'">
                <input type="file" id="user-photo" name="file" class="input-file"
                       onchange="document.getElementById('upload').submit()"/>
                <div class="flex-row">
                    <label class="button-grey m-r-7" for="user-photo">Загрузить</label>
                    <input type="checkbox" id="checkbox-photo" name="toPhotoDelete"
                           onchange="document.getElementById('upload').submit()"/>
                    <label class="button-grey m-l-7" for="checkbox-photo">Удалить</label>
                </div>
            </form>
            <div>
                <label class="button-yellow m-l-7" for="save"
                       onclick="checkPassword() ? submitData('save') :
                       showErrorPopup('Неправильно введен пароль')">Сохранить</label>
            </div>
        </footer>
    </div>
</div>
<div class="warning-content">
    <div class="warning-popup-body">
        <img id="warning-popup-body-img" class="p-modal">
        <article class="popup-body">
            <p id="warning-popup-body-message" class="p-modal"></p>
        </article>
    </div>
    <footer>
        <label for="warning-popup" class="button close">Закрыть</label>
    </footer>
</div>

<script src="/js/main.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/security.js"></script>

<script th:inline="javascript">
    var success = /*[[${success}]]*/ null;
    if (success) {
        showSuccessPopup(success);
    }
</script>
</body>
