<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Shopper</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<header>
    <div class="header">
        <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="nav-menu">
        <nav class="nav-menu">
            <ul id="nav-list">
                <li v-for="menu in menus">
                    <a v-bind:href="menu.url">{{menu.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-menu">
        <nav>
            <ul>
                <img src="/images/user/0.jpg" class="user-avatar-header">
                <li><a href="/settings" th:text="${currentUser.firstname} + ' ' + ${currentUser.lastname}"></a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>

<input type="checkbox" id="popup"/>
<label for="popup" class="popup-bg"></label>
<div class="popup-content">
    <article class="popup-header">
        <p class="p-modal">Редактирование пользователя - {user}</p>
    </article>

    <article class="popup-body">
        <p>Поля - {field}</p>
    </article>

    <footer>
        <a href="#" class="button success">Сохранить</a>
        <label for="popup" class="button close">Закрыть</label>
    </footer>
</div>

<script src="/js/main.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>