<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Shopper</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css"/>
    <link rel="stylesheet" href="/css/util.css" media="screen" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script th:inline="javascript">
    var firstLogin = /*[[${user.firstLogin}]]*/ null;
    if (firstLogin) {
        window.location.href = 'http://' + window.location.host
    }
</script>
<body>
<header>
    <div class="logo">
        <a th:href="'/' + ${user.position.name}"><img src="/img/logo.png"></a>
    </div>
    <div class="nav-menu">
        <nav class="nav-menu">
            <ul id="nav-list">
                <li v-for="menu in menus">
                    <a v-bind:href="menu.url">{{menu.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-menu">
        <nav>
            <ul>
                <div class="user-avatar-header" th:switch="${user.imagePath}">
                    <img th:case="null" th:src="'/data/upload/img/user/user-not-found.png'">
                    <img th:case="*" th:src="${user.imagePath}" onchange="location.reload()">
                </div>
                <li><a href="/settings" th:text="${user.firstname} + ' ' + ${user.lastname}"></a></li>
                <li><a href="/logout">Выйти</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="user-content">
    <div class="wrap-user-content">
        <div class="wrap-users-table">
            <table id="users-table">
                <caption>
                    <div class="table-user-caption">
                        <h1 class="m-t-5 m-l-5">Список пользователей</h1>
                        <input id="search-text" class="max-w-30" placeholder="Поиск" type="text"
                               onkeyup="tableSearch()"/>
                        <label class="button-yellow button-table" for="popup"
                               onclick="clearUserFields()">Добавить</label>
                    </div>
                </caption>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Логин</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Должность</th>
                    <th>Дата рождения</th>
                    <th>Дата регистрации</th>
                    <th>Включен</th>
                    <th>Изменить</th>
                </tr>
                </thead>
                <tbody>

                <div th:each="user : ${users}">
                    <tr>
                        <td id="td-user-id" th:text="${user.id}"></td>
                        <td id="td-user-username" th:text="${user.username}"></td>
                        <td th:text="${user.firstname}"></td>
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.position.name}"></td>
                        <td th:text="${user.birthdate}"></td>
                        <td th:text="${user.registrationDate}"></td>
                        <td><input disabled type="checkbox" th:checked="${user.active}"/></td>
                        <td><a href="#" onclick="fillUsersFields()"><label for="popup">Изменить</label></a></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="checkbox" id="popup"/>
<input type="checkbox" id="warning-popup">
<label for="popup" class="popup-bg"></label>
<label for="warning-popup" class="warning-popup-bg"></label>
<div class="popup-content">
    <article class="popup-header">
        <p id="popup-header-text" class="p-modal m-b-15"></p>
    </article>

    <article class="popup-body">
        <div class="info flex-row">
            <div>
                <h1>Логин: <font color="red">*</font></h1>
                <h1>Имя: <font color="red">*</font></h1>
                <h1>Фамилия: <font color="red">*</font></h1>
                <h1>Новый пароль: </h1>
                <h1>Повторите пароль: </h1>
                <h1>Должность: <font color="red">*</font></h1>
                <h1>Дата рождения: </h1>
                <h1>Включен: </h1>
            </div>
            <div>
                <form class="m-l-30" id="save-user" method="post" action="/admin/user">
                    <input required id="username" type="text" name="username" placeholder="Логин">
                    <input required id="firstname" type="text" name="firstname" placeholder="Имя">
                    <input required id="lastname" type="text" name="lastname" placeholder="Фамилия">
                    <input id="new-pass" type="password" name="password" placeholder="Новый пароль">
                    <input id="new-pass-checked" type="password" placeholder="Повторите пароль">
                    <select id="position" name="position">
                        <option th:each="position : ${positions}"
                                th:value="${position.name}"
                                th:text="${position.description}">
                        </option>
                    </select>
                    <input id="birthdate" type="date" name="birthdate" placeholder="Дата рождения">
                    <input id="active" type="checkbox" name="active" placeholder="Включен">
                    <input id="new-user-checkbox" type="checkbox" value="true" name="isNew">
                </form>
            </div>
        </div>
    </article>

    <footer>
        <h1 class="fs-13 p-r-40"><font color="red">*</font> - поля, обязательные к заполнению</h1>
        <label class="button success" for="save-user" onclick="(checkPassword() && checkUsername() &&
         checkFirstname() && checkLastname() && checkPosition()) ?
        submitData('save-user') : showErrorPopup('Некорректно введен пароль, либо какие-то поля не заполнены!')">Сохранить</label>
        <label class="button close" for="popup">Закрыть</label>
    </footer>
</div>
<div class="warning-content">
    <div class="warning-popup-body">
        <img id="warning-popup-body-img" class="p-modal">
        <article class="popup-body">
            <p id="warning-popup-body-message" class="p-modal"></p>
        </article>
    </div>
    <footer>
        <label for="warning-popup" class="button close">Закрыть</label>
    </footer>
</div>

<script src="/js/main.js"></script>
<script src="/js/user.js"></script>
<script src="/js/popup.js"></script>
<script src="/js/security.js"></script>
<script th:inline="javascript">
    var success = /*[[${success}]]*/ null;
    if (success) {
        showSuccessPopup(success);
    }

    var error = /*[[${error}]]*/ null;
    if (error) {
        showErrorPopup(error);
    }
</script>
</body>
</html>